*{
    font-size: 25px;
}

.table-position{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.task-yellow {
    background: rgba(255, 230, 0, 0.447);
}

.invalid-task {
    background-color: rgb(255, 0, 0);
}

.cros-out-string {
    text-decoration: line-through;
    background-color: rgba(0, 255, 17, 0.447);
}